
<div class="container">
    <h1 class="display-2 text-center">{{title}}</h1>
    <hr>
    <ul>
        <li>Direccion: {{direccion}}</li>
        <li>Curso: {{curso}}</li>
    </ul>
</div>

<div class="container">
    <a href="/nosotros">Info de Nosotros</a>
</div>
